.info-page{
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    h1{
        font-size:32px;
        text-align: center;
        font-weight: bold;
    }
    .content-info{
        padding-top: 80px;
        .option{
        
            color: #000;
            font-size: 15px;
            line-height: 30px;
            &:hover{
                color: #ff0000;
                transition: 0.2s;
            }
        }
        .active .option{
            font-weight: bold;
            &:hover{
                color: #000;
            }
        }
        
        a{
            text-decoration: none;
        }

        .signout{
            width: 100px;
            margin-top: 30px;
        }

        .vertical-line-container{
            display: flex;
            .vertical-line{
                width: 1.5px;
                height: 200px; /* Điều chỉnh độ dài của đường kẻ dọc */
                background-color: black; /* Màu của đường kẻ */
                margin-left: 20px; /* Khoảng cách giữa các đường kẻ */
            }
        }
        
    }

    .edit{
        width: 150px;
        font-size: 15px;
        margin-top: 20px;
    }

    .private-info{
        font-size: 18px;
        line-height: 2;
        .info-type{
            font-weight: bold;
        }
    } 
    .avatar-img{
        img{
        max-width: 100px;
        }
    }
    .point{
        width: 100px;
        padding: 0px;
        margin-top: 20px;
        background-color: #e6b026b0;
        p{
            margin: 0;
            font-size: 18px;
            font-weight: bold; 
            width: 100px;   
            position: relative;
            text-align: center;
            color: #ff0000;
        }
    }
    .purchase-history{
        margin-top: 50px;
        .table-group-divider {
            max-height: 200px;
          }
    }
}

.form-label{
    font-weight: bold;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #3498db;
    border-color: #3498db transparent #3498db transparent;
    animation: loading 1.2s linear infinite;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #refund{
    background-color: #e6d626;
    font-size: 12px;
    &:hover{
        background-color: #ffea00;
    }
  }

  tr{
    text-align: center;
    vertical-align: 0;
  }