#cus-m{
    margin: 30px;
    h1{
        margin: 10px;
        font-size: 25px;
        font-weight: bold;
    }
    .customer-manage-container{
        margin: 30px 50px 30px 50px;
        tr{
            cursor: pointer;
        }
    }
}
