.search-header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .sub-title {
        opacity: .66;
        margin-top: 10px;
        font-size: 14px;
    }
}

.search-product {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f9f7f7;
    height: auto;
    width: 100%;
}