.section-header {
    height: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;

    .title-section {
        font-size: 37px;
        font-weight: 600;
    }
 
    .btn-section {
        float: right;
        padding: 10px 15px;
        border: none;
        outline: none;
        display: block;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        &:hover {
            color: #fff;
            background: #f7d800;
        }
    }
}

.product-discount {
    position: relative;
    width: 44px;
    top: 10px;
    left: 10px;
    color: #f94c43;
    font-size: 12px;
    line-height: 1;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 11;
    background: #fff;
    border: 1px solid #ededed;
}

.product-detail {
    padding: 5px 0;

    .product-name {
        margin-bottom: 5px;
        font-size: 14px;
        min-height: 18px;
    }

    .product-price {
        span {
            color: #f94c43;
        }

        del {
            color: #939393;
            font-size: 13px;
            margin-left: 10px;
        }
    }
}

.home-footer {
    text-align: center;
    background-color: #1b2024;

    .footer-container {
        width: 100%;

        .footer-content {
            display: flex;
            // padding-top: 30px;
            margin: 0 30px 30px 30px;

            .left-content, .right-content {
                background-color: rgba(255,255,255,.03);
            }

            .footer-content-child {
                padding: 20px 30px 30px 30px;
                line-height: 30px;
                
                .child-content-title {
                    font-size: 20px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: #d1a054;
                }
                .store-info {
                    color: #fff;
                    
                    h5 {
                        font-size: 14px;
                    }
                }
                
                .center-content-link  {
                    display: block;
                    margin-bottom: 10px;
                    color: #fff;
                    text-decoration: none;

                    .center-content-text {
                        font-size: 14px;
                        letter-spacing: 0.35px;

                        &:hover {
                            color: rgb(74, 74, 233);
                        }
                    }
                }

                .social {
                    // font-size: 35px;
                    // line-height: 45px;
                    // display: inline-block;
                    // margin: 0 7px;
                    
                    font-size: 35px;
                    line-height: 45px;
                    display: inline-block;

                    .icon {
                        margin: 0 10px;
                    }

                    .fa-facebook {
                        color: #1d63dd;

                        &:hover {
                            opacity: 0.5;
                        }
                    }

                    .fa-instagram {
                        color: #e10e74;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        .footer-copyright {
            background-color: #fff;
            margin-bottom: 0;
        }
    }
}