.home-header-container {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 0 40px;
    z-index: 100;
    background: white;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .left-content {
            width: 15%;
            display: flex;
            align-items: center;

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }

            a {
                height: 100%;
                width: 100%;
            }

            .header-logo {
                // background: url('../../assets/logo4.png');
                // background-repeat: no-repeat;
                // background-size: contain;
                // background-position: center;
                height: 100%;
                width: 100%;
                transform: scale(1.2, 1.3);
                // margin-left: -40px;
                cursor: pointer;
            }
        }

        .center-content {
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            a {
                text-decoration: none;
            }

            .child-content {
                cursor: pointer;
                color: #249b16;
                font-size: 18px;

                &:hover {
                    color: #14d9c9;
                    opacity: 0.7;
                }
            }

            .active .child-content {
                // color: #dc9429;
                font-weight: bold;
            }

        }

        .right-content {
            width: 30%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            i {
                font-size: 25px;
                cursor: pointer;
                color: black;
            }

            a {
                color: none;
            }

            .search {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 30px;
                width: fit-content;
                border-radius: 20px;
                background: #efecec;

                i {
                    margin: 0 5px;
                    font-size: 15px;
                    padding: 0 10px;
                }

                input {
                    height: 30px;
                    width: 170px;
                    padding: 15px;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}

// .home-header-banner {
//     display: block;
//     height: 500px;
//     width: 100%;
//     .home-banner-content {
//         // background: url('../../assets/background-event1.jpg');
//         // background-repeat: no-repeat;
//         // background-size: cover;
//         // background-position: center;
//         height: 100%;
//         width: 100%;
//         cursor: pointer;
//     }
// }