.home-banner {
    display: block;
    height: 620px;
    width: 100%;
    .home-banner-content {
        // background: url('../../assets/background-event1.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}

@media (max-width: 450px) {
    .home-banner {
        display: block;
        height: 250px;
        width: 100%;
    }
}