.login-background {
    // background: rgb(34,193,195);
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);

    .login-container, .register-container {
        width: 380px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .login-content {
            padding: 10px;

            .login-text {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .login-input {
                margin: 10px 0;

                .hide-show-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .login-btn {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
            }

            // .forgot-password {
            //     font-size: 13px;
            //     text-decoration: none;
            // }

            .signin-link {
                float: right;
                font-size: 13px;
                text-decoration: none;
            }
            
            .return-login {
                font-size: 13px;
                text-decoration: none;
            }

            .login-social {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
                    .google {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        border-radius: 50%;
                        height: 45px;
                        width: 45px;
                        background: #d44242;
                        color: white;
                        margin-right: 5px;
                    }

                    .facebook {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        border-radius: 50%;
                        height: 45px;
                        width: 45px;
                        background: #404dc6e0;
                        color: white;
                        margin-left: 5px;
                    }
            }
        }
    }
    .login-container {
        height: 450px;
    }
    .register-container {
        height: 655px;
        .login-content {
            padding: 5px !important;

            .login-text {
                padding-bottom: 5px !important;
            }

            .login-input {
                margin: 5px 0 !important;
            }
        }
    }
    @media screen and (max-width: 380px) {
        .login-container {
            width: 300px
        }
    }

    @media screen and (max-width: 420px) {
        .login-container {
            width: 330px
        }
    }
}