
.admin-container {
    margin: 20px 10px;
    border: 1px solid rgb(164, 162, 162);
    border-radius: 15px;

    .admin-content {
        padding: 0 15px;
        border: 1px solid rgb(164, 162, 162);
        margin: 15px;
        border-radius: 10px;

        .admin-header {
            display: flex;
            align-items: center;
            margin-top: 15px;

            i {
                font-size: 16px;
                margin-left: 10px;     
                color: rgb(73, 73, 201);
                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .catalog-dropdown, .product-manage-frame {
            
            ul {
                list-style-type: none;
                padding: 0;
                margin: 20px 0;

                li {
                    margin-left: 15px;
                    margin-top: 15px;
                    border: 1px solid rgb(164, 162, 162);
                    border-radius: 10px;
                }

            }
            .catalog-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
            }

            .icon-action {
                i {
                    margin-right: 15px;
                    &:hover {
                        opacity: 0.5;
                    }
                }

                .fa-times-circle {
                    color: red;
                }

                .fa-edit {
                    color: blue;
                }

                .fa-caret-down {
                    color: rgb(164, 162, 162);
                    padding: 5px;
                    margin-right: 5px;
                }
            }

            .slick-slider {
                margin: 5px 10px 15px;
            }

            .slider-customize {
                // border: 1px solid #eee;

                // img {
                //     height: 275px;
                //     width: 100%;
                //     transform: scale(0.8, 0.8);
                // }
                height        : 300px;
                width         : 95% !important;
                display       : flex !important;
                flex-direction: column;
                margin        : 0px 5px;
                border        : 1px solid rgb(170, 175, 170);

                .bg-image {
                    height             : 100%;
                    width              : 100%;
                    // background         : url('../../assets/Ao/ao-2.png');
                    // background-position: center center;
                    // background-repeat  : no-repeat;
                    // background-size    : contain;
                    // // background-color: #eee;
                }

                .add-image {
                    height             : 100%;
                    width              : 100%;
                    background         : url('../../assets/add.png');
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : contain;
                    border        : 1px solid transparent;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            .add-catalog {
                .add-image {
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            .slick-prev {
                height    : 65px !important;
                width     : 65px !important;
                z-index   : 10;
                left      : -15px !important;
                background: transparent !important;
                opacity   : 0.4;

                &:hover {
                    opacity: 0.8;
                }
            }

            .slick-prev:before,
            .slick-next::before {
                // font-family: FontAwesome !important;
                font-size: 65px;
                color    : #a39797 !important;
            }

            .slick-next {
                height    : 65px !important;
                width     : 65px !important;
                z-index   : 10;
                right     : -15px !important;
                background: transparent !important;
                opacity   : 0.4;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .product-manage-frame {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;

            .admin-product {
                display: block;
                width: 25%;
                height: auto;
                padding: 0 10px;
                margin: 10px 0;

                .bg-image {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #f9f7f7;

                    height: auto;
                    width: 100%;
                }

                .product-detail {
                    background-color: #f9f7f7;
                }

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}