.cart-page{
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    h1{
        font-size:32px;
        text-align: center;
        font-weight: bold;
    }
    .content-info{
        padding-top: 80px;
        .option{
        
            color: #000;
            font-size: 15px;
            line-height: 30px;
            &:hover{
                color: #ff0000;
                transition: 0.2s;
            }
        }
        .active .option{
            font-weight: bold;
            &:hover{
                color: #000;
            }
        }
        
        a{
            text-decoration: none;
        }
        .signout{
            width: 70%;
            margin-top: 30px;
        }


        .vertical-line-container{
            display: flex;
            .vertical-line{
                width: 1.5px;
                height: 200px; /* Điều chỉnh độ dài của đường kẻ dọc */
                background-color: black; /* Màu của đường kẻ */
                margin-left: 20px; /* Khoảng cách giữa các đường kẻ */
            }
        }

        .image-sp{
            width: 100px;
            img{
            width: 80px;
            background-color: #fff;
            border: 1px solid #000;
            }
        }
        
        .close-but{
            margin: 0;
            padding: 0;
            p{
                margin: 0;
                margin-top: 35px;
            }
        }

        .alert-secondary{
            background-color: #f3f3f3;
            border-radius: 0;
            border: none;
        }

        .product-list{
            width: 46%;
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
        }

        .bill{
            border: 1px solid #d3d3d3;
            height: auto;
            margin-left: 5px;
            padding-bottom: 15px;
            h2{
                font-size: 18px;
                text-align: center;
                padding: 10px 10px 15px 10px;
                font-weight: 600;
            }
            .product-bill{
                padding: 10px 10px 0 10px;
                margin: none;
                line-height: 1.5;
                b{
                    font-size: 12px;
                    line-height: 0;
                }
                p{
                    font-size: 11px;
                    margin: 0;
                }
            }

            .sum{
                margin: 5px 0px;
                font-size: 15px;
            }

            .discout{
                margin: 5px 10px 0px 10px;
                font-size: 15px;
                background-color: #e4e3e3;
                border-radius: 3px;
                #dc1{
                    padding: 0;
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }

            .final-price{
                margin: 5px 0px;
                font-size: 15px;
                #price{
                    color: red;
                }
            }

            .btn-pay{
                margin: 0;
                width: 93%;
                background-color: #FF0000;
            }
        }
    }
}