/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(137, 137, 137, 0.403); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 137, 137, 0.821); 
}

.cart-page{
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    h1{
        font-size:32px;
        text-align: center;
        font-weight: bold;
    }
    .content-info{
        padding-top: 80px;
        .option{
        
            color: #000;
            font-size: 15px;
            line-height: 30px;
            &:hover{
                color: #ff0000;
                transition: 0.2s;
            }
        }
        .active .option{
            font-weight: bold;
            &:hover{
                color: #000;
            }
        }
        
        a{
            text-decoration: none;
        }
        .signout{
            width: 70%;
            margin-top: 30px;
        }


        .vertical-line-container{
            display: flex;
            .vertical-line{
                width: 1.5px;
                height: 200px; /* Điều chỉnh độ dài của đường kẻ dọc */
                background-color: black; /* Màu của đường kẻ */
                margin-left: 20px; /* Khoảng cách giữa các đường kẻ */
            }
        }

        .image-sp{
            width: 100px;
            img{
            width: 80px;
            background-color: #fff;
            border: 1px solid #000;
            }
        }
        
        .close-but{
            margin: 0;
            padding: 0;
            p{
                margin: 0;
                margin-top: 35px;
            }
        }

        .alert-secondary{
            background-color: #f3f3f3;
            border-radius: 0;
            border: none;
        }

        .product-list{
            width: 46%;
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
        }

        .bill{
            border: 1px solid #d3d3d3;
            height: auto;
            margin-left: 5px;
            padding-bottom: 15px;
            h2{
                font-size: 18px;
                text-align: center;
                padding: 10px 10px 15px 10px;
                font-weight: 600;
            }
            .product-bill{
                padding: 10px 10px 0 10px;
                margin: none;
                line-height: 1.5;
                b{
                    font-size: 12px;
                    line-height: 0;
                }
                p{
                    font-size: 11px;
                    margin: 0;
                }
            }

            .sum{
                margin: 5px 0px;
                font-size: 15px;
            }

            .discount {
                cursor: pointer;
                width: 93%; 
                padding-top: 4px;
                padding-bottom: 4px;  
                height: auto;
                font-size: 15px;
                font-weight: 100;
                color: #000;
                background-color: #e4e3e3;
                border-radius: 3px;
                .discount-use{
                    font-size: 11px;
                    margin-top: 5px;
                    padding-right: 0;
                    .col-7{
                        padding: 0;
                        padding-left: 5px;
                    }
                    .col{
                        padding: 0;
                        right: 5px;
                    }
                }
                #dc1{
                    padding: 0;
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }

            .final-price{
                margin: 5px 0px;
                font-size: 15px;
                #price{
                    color: red;
                }
            }

            .btn-pay{
                margin: 0;
                width: 93%;
                background-color: #FF0000;
            }
        }
        .quantity-area {
            display: inline-block;
            width: 100% ;

            .quantity-btn {
                background-color: #fff;
                float: left;
                padding: 0px;
                border: solid 1px #ececec;
                cursor: pointer;
                font-weight: 600;
                font-size: 16px;
                outline: none;
                height: 25px;
                width: 25px;
                text-align: center;
                border-radius: 0;
            }
    
            .quantity-number {
                user-select: none;
                background-color: #c5c5c5;
                float: left;
                font-weight: 600;
                height: 25px;
                padding: 0;
                text-align: center;
                width: 30px;
                border: 1px solid #f5f5f5;
                border-left: none;
                border-right: none;
                border-radius: 1px;
                pointer-events: none;
            }
        }
    }
}

.btn-payment{
    margin: 0;
    width: 150px;
    height: 35px;
    background-color: #FF0000;
    border-radius: 0;
    margin-left: 5px;
    box-shadow: 1px 1px 1px #e4e3e3;
    &:hover{
        background-color: #d60000;
    }
}
.btn-return{
    width: 150px;
    height: 35px;
    box-shadow: 1px 1px 1px #e4e3e3;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    border: 1.5px solid #e4e3e3;
}

.modal .modal-dialog .modal-content .modal-header{
    background-color: #fff;
    color: #000;
}

.numinp{
    padding: 0;
    padding-left: 10.5px;
    .btnin{
        padding: 0;
        cursor: pointer;
    }
    .val{
        padding: 0;
        
    }
    i{
        font-size: 20px;
    }
}

.voucher-btn{
    background-color: #fff;
    font-weight: bold;
    border: solid 1px #cecece;
    width: 100px;
    font-size: 12px;
    &:hover{
        background-color: #cecece;
    }

}



