.cart-page{
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    h1{
        font-size:32px;
        text-align: center;
        font-weight: bold;
    }
}
