.modal-window .modal-content {
    height: 600px;
    max-height: 800px;
}

.mb-3 {
    .product-color {
        .product-title {
            display: flex;
            flex-wrap: wrap;

            .form-label {
                color: black;
            }
            .select-color-product {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;
            }
            .add-newcolor-product {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .add-color-content {
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    .add-color {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        .fa-times-circle {
                            color: red;
                            margin-left: 10px;
                        }
                    }

                    i {
                    font-size: 21px;
                    color: #4949c9;
                    }
                }

            }
        }
    }

    .product-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(158, 153, 153);

        .select-input {
            width: 80%;
        }

        .multi-select {
            width: 80%;
        }

        .form-label {
            color: rgb(76, 76, 234);
        }

    }

    .form-label {
        color: rgb(76, 76, 234);
        margin-bottom: 0;
    }

    .form-control {
        width: 80%;
    }

    .form-control::placeholder {
        font-weight: 600;
        color: rgba(31, 30, 30, 0.7);
        opacity: 0.7;
    }
}