.fade.modal-backdrop.show {
    z-index: 200;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
}

.modal-window .modal-content {
    height: 680px;
    max-height: 800px;
}

.mb-3 {
    .product-color, .product-size, .product-description-edit {
        .product-title {
            display: flex;
            flex-wrap: wrap;

            .rc-md-editor {
                width: 100%;
                margin-top: 10px;
            }

            .form-label {
                color: black;
            }
            .select-color-product {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;
            }
            .add-newcolor-product {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .add-color-content {
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    .add-color {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        .fa-times-circle {
                            color: red;
                            margin-left: 10px;
                        }
                    }

                    i {
                        font-size: 21px;
                        color: #4949c9;
                        width: 21px;
                    }
                }

            }
        }
    }

    .product-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(158, 153, 153);

        .form-control {
            width: 80%;
        }

        .select-input {
            width: 80%;

            .input-img {
                // display: flex;
                // flex-direction: column;
                // height: 50px;

                // .btn-addIMG {
                //     height             : 100%;
                //     width              : 20%;
                //     background         : url('../../../assets/addProductIMG.png');
                //     background-position: center center;
                //     background-repeat  : no-repeat;
                //     background-size    : contain;
                // }.

                // .preview-img {
                //     display: flex;
                //     flex-wrap: wrap;
                //     height: 100px;
                //     margin-bottom: 10px;
                //     border: 1px solid #ddd;

                //     .preview-img-item {
                //         width: 100px;
                //         height: 80%;
                //         background-size: cover;
                //         background-repeat: no-repeat;
                //         margin: 10px;
                //         cursor: pointer;
                //         position: relative;

                //         .img-overlay {
                //             position: absolute;
                //             top: -5px;
                //             left: -5px;
                //             width: 110%;
                //             height: 110%;
                //             background-color: rgba(188, 174, 174, 0.5);
                //             display: none;
                //             opacity: 0;
                //             transition: opacity 0.3s;
                //         }

                //         .fa-times-circle {
                //             display: none;
                //             position: relative;
                //             color: #e21111;
                //             font-size: 17px;
                //             width: 17px;
                //             background-color: #fff;
                //         }

                //         &:hover {
                //             .img-overlay {
                //                 display: block;
                //                 opacity: 1; /* Hiển thị và làm mờ lớp mờ khi hover */
                //             }
                //             .fa-times-circle {
                //                 display: block;

                //                 &:hover {
                //                     color: #ff0000;
                //                 }
                //             }
                //         }
                //     }
                // }

                .label-upload {
                    padding: 5px;
                    border-radius: 5px;
                    background: #ddd;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                    .fa-upload {
                        margin-left: 5px;
                    }
                }
            }

        }


        .multi-select {
            width: 80%;
        }

        .form-label {
            color: rgb(76, 76, 234);
        }

    }

    .form-label {
        color: rgb(76, 76, 234);
        margin-bottom: 0;
    }


    .form-control::placeholder {
        font-weight: 600;
        color: rgba(31, 30, 30, 0.7);
        opacity: 0.7;
    }
}

.Lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
}