.modal-content {
    max-height: 550px;

    .modal-body {
        height: 100%;
        overflow: auto;

        .add-product-catalog-title {
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(39, 37, 37);
            margin-bottom: 10px;
        }
    }
}

.checkbox-custom {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.checkbox-custom:before {
    content: '\2713'; /* Unicode character for checkmark */
    font-size: 12px;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-custom:before {
    color: #007bff; /* Color of the checkmark when checked */
}