.header-position {
    // text-align: left !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid black;

    .browse-tags {
        text-align: end !important;

        .dropdown {
            width: auto;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            max-width: 100%;
            overflow: hidden;
            border-radius: 0px;

            .sort {
                font-size: 17px;
                width: 100%;
                display: block;
                height: 30px;
                padding: 0 20px;
                border-color: transparent;
                background-color: #fff;
                outline: 0;
                cursor: pointer;
                text-indent: 1px;

                option {
                    background: #fff;
                }
            }
        }
    }
}

.img-setting {
    height             : 325px;
    width              : 100%;
}

.sieusale-product {
    background         : url('../../assets/SieuSale/ao-2.png');
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-color   : #f9f7f7;
}

.spmoi-product {
    background         : url('../../assets/SPMoi/ao-3.png');
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-color   : #f9f7f7;
}

.ao-product {
    background         : url('../../assets/Ao/ao-2.png');
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-color   : #f9f7f7;
}

.quan-product {
    background         : url('../../assets/Quan/quan-2.png');
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-color   : #f9f7f7;
}

.phukien-product {
    background         : url('../../assets/PhuKien/phukien-2.png');
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-color   : #f9f7f7;
}