.section-sieusale {
    height    : 470px;
    background: transparent;
    // border: 3px solid blue;

    .sieusale-container {
        margin        : 0 35px;
        display       : flex;
        flex-direction: column;

        // .title-sieusale {
        //     float: left;
        // }

        .sieusale-body {
            // border: 2px solid violet;
            height: 100%;

            // .slick-slider {
            //     height: 100%;
            // }
            .slick-list {
                background: transparent;
            }

            .sieusale-customize {
                // border: 1px solid #eee;

                // img {
                //     height: 275px;
                //     width: 100%;
                //     transform: scale(0.8, 0.8);
                // }
                height        : 350px;
                width         : 95% !important;
                display       : flex !important;
                flex-direction: column;
                margin        : 0px 5px;
                border        : 1px solid green;

                .bg-image {
                    height             : 100%;
                    width              : 100%;
                    // background         : url('../../../assets/SieuSale/ao-1.svg');
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : contain;
                    // background-color: #eee;
                }
            }

            .slick-prev {
                height    : 65px !important;
                width     : 65px !important;
                z-index   : 10;
                left      : -15px !important;
                background: transparent !important;
                opacity   : 0.4;

                &:hover {
                    opacity: 0.8;
                }
            }

            .slick-prev:before,
            .slick-next::before {
                // font-family: FontAwesome !important;
                font-size: 65px;
                color    : #a39797 !important;
            }

            .slick-next {
                height    : 65px !important;
                width     : 65px !important;
                z-index   : 10;
                right     : -15px !important;
                background: transparent !important;
                opacity   : 0.4;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}